[data-type="personal"] .stub img{
    width: 100%;
    height: 100%;
}
.form-block__nda.error{
    border-bottom: 1px solid #E86464;
}
.about__btn{
    margin-bottom: 20px;
}
form .mess_info{
    display: block;
    text-align: center;
    margin-top: 10px;
}
.mess_star.on{
    color:red;
    border-left: 3px solid;
    padding-left: 5px;
    padding-top: 3%;
}
.no-elem{
    display: none !important;
}
form .mess_info.personal_er{
    margin-top: 5%;
}
.error span.select2-selection{
    background: #FFF9F9;
    border-color: #E86464;
}
.close-driver{
    /*font-size: 14px;
    color: red;*/
    cursor: pointer;
    margin-left: 10px;
    position: relative;
}
.close-driver img{
    position: absolute;
}
/*.close-driver:after{
    content: "";
    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
    transform: scale(0.5);
    opacity: 0;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(../img/clear-btn.png) no-repeat center center;
    position: absolute;
}*/
.map-about{
    margin: 0 auto;
    width: 100%;
}
.map-about iframe{
    width: 100% !important;
}
.gbdd .checkbox-r__text:after{
    background: #FFD336 !important;
}
.gbdd .checkbox-r__text:before{
    background: #4F4F4F !important;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5) !important;
}
.calc__category-list .category{
    cursor: pointer;
}
.calc__category-list .category.disabled{
    background: #6f6f6f2b;
    border: none;
    cursor: auto;
}
.auto_up_calc .select2-container--pit, .auto_up_calc p{
    display:inline-block;
}
.auto_up_calc{
    width: auto;
    margin: 0 auto;
    margin-top: 30px;
}
.calc__table tr.off{
    background-color: #0000002e;
}
.form-block__nda a{
    text-decoration: none;
    border-bottom: 1px solid #FFDC60;
    color: #36334A;
}
.cashback__inner{
    display: block;
}
.no-before:before{
    display: none;
}
.price_land{
    position: relative;
    padding: 10px 0 10px;
    overflow: hidden;
}
.price_land h2{
    text-align: center;
    position: relative;
    margin: 0;
}